<h1>Homepage</h1>
<%= link_to "boys", boy_path, class: "btn btn-primary" %>
<%= link_to "girls", girl_path, class: "btn btn-primary" %>
<%= link_to "friends", friend_path, class: "btn btn-primary" %>
