<div class="container">
  <div class="row">
      <div class="col-xs-3">
        <ul class="list-group">
          <li class="list-group-item">
          類別1
            <ul class="list-group">
              <li class="list-group-item">副類別</li>
              <li class="list-group-item">副類別</li>
              <li class="list-group-item">副類別</li>
            </ul>
          </li>
          <li class="list-group-item">
            類別2
            <ul class="list-group">
              <li class="list-group-item">副類別</li>
              <li class="list-group-item">副類別</li>
              <li class="list-group-item">副類別</li>
            </ul>
          </li>
          <li class="list-group-item">
            類別3
            <ul class="list-group">
              <li class="list-group-item">副類別</li>
              <li class="list-group-item">副類別</li>
              <li class="list-group-item">副類別</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-12">
            <div class="jumbotron">
              <h1>大型廣告</h1>
              <p>這是廣告</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <div class="thumbnail">
              <img src="https://images.pexels.com/photos/293029/pexels-photo-293029.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail">
              <img src="https://images.pexels.com/photos/293029/pexels-photo-293029.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail">
              <img src="https://images.pexels.com/photos/293029/pexels-photo-293029.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail">
              <img src="https://images.pexels.com/photos/293029/pexels-photo-293029.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
