<!-- @categories -> categories -->
<% categories.each do |category|  %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to category.name, products_category_path(category), class: "btn btn-primary" %>
      <ul class="list-group">
        <% category.subcategories.each do | subcategory | %>
          <li class="list-group-item">
            <%= link_to subcategory.name, products_subcategory_path(category, subcategory), class: "btn btn-primary" %>
            <%# link_to products_subcategory_path(category_id: category.id, subcategory_id: subcategory.id) do%>
              <%#= subcategory.name %>
            <%# end %>
            <!-- 另一種寫法 -->
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>
