

<%= form_tag("/products", method: "post") do %>
  <label>名稱<input type="text" name="name"></label>
  <br>
  <label>價錢<input type="text" name="price"></label>
  <br>
  <label>描述<input type="text" name="description"></label>
  <br>
  <label>圖片<input type="text" name="image_url"></label>
  <br>
  <button type="submit">送出</button>
<% end %>


<script>
  $(function(){
      var token=$('meta[name="csrf-token"]').attr('content');
      var input_token = $('input[name=authenticity_token]');
      input_token.val(token);

      $.ajax({
          method: "POST",
          url: '/products',
          data: { name: "John",
                  description: "Boston",
                  image_url: "",
                  price: 11001,
                  authenticity_token: token
                }
      })
  })
</script>
